
div {
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.black-nav {
  display: flex;
  background: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid grey;
}